IconBoard.pro.user
*.cpp~
*.h~
*.autosave
mapperwidget.cpp.t10960
mapperwidget.cpp.autosave.b10960
mapperwidget.cpp.O10960
*.bak
IconBoard.pro.user.9d455de
IconBoard.pro.user.3a8ba0c
installer/make*
installer/iconboard*
installer/packages/org.factory12.iconboard/data/*
